<div style="padding:10px;">
    <form>
      <div class="form-group">
        <label for="usr-email-input">Email</label>
        <input name="usr-email" type="text" id="usr-email" [(ngModel)]="user.email" class="form-control" />
      </div>
      <div class="form-group">
        <label for="usr-password-input">Password</label>
        <input name="usr-password" type="password" id="usr-password" [(ngModel)]="user.password" class="form-control" />
      </div>
    </form>
    <div>
   </div>
  </div>

