<style>
  .hightlightrow
  {
    background: lightseagreen !important;
  }
  .nohightlightrow
  {
    background: #FFF !important;
  }
</style>

<br/>
<button type="button" class="btn btn-primary mb-2" (click)="new()">Add Video</button>
<p-table [value]="notes" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
paginator="true" resetPageOnSort="false" [autoLayout]="true">
<ng-template pTemplate="header">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-note let-rowIndex="rowIndex"> 
    <tr [ngClass]="note.live?'highlightrow':'nohighlightrow'">
      <td>{{ rowIndex+1 }}</td>
      <td>{{ note.title }}</td>
      <td>
        <a data-target="#" class="m-1" (click)="edit(note)">
          <img src="assets/Data-Edit.png" alt="Edit"/>
        </a>
        <a data-target="#" class="m-2" (click)="delete(note)">
          <img src="assets/Garbage-Open.png" alt="Delete"/>
        </a>
      </td>
    </tr>
  </ng-template>
</p-table>

<!--<p-table [value]="notes">
  <ng-template pTemplate="header">
      <tr>
          <th>Name</th>
          <th>Author</th>
          <th>Price In Dollars</th>          
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-note>
      <tr>
        <td>{{ note.title }}</td>
        <td>{{ note.description }}</td>
        <td>
          <a data-target="#" class="m-1" (click)="edit(note)">Edit</a>
          <a href="#" class="m-2" (click)="delete(note)">Delete</a>
        </td>
      </tr>
  </ng-template>
</p-table>-->

<!--<table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="notes?.length == 0"><td>No data</td></tr>
      <tr *ngFor="let note of notes">
        <td>{{ note.title }}</td>
        <td>{{ note.description }}</td>
        <td>
          <a data-target="#" class="m-1" (click)="edit(note)">Edit</a>
          <a href="#" class="m-2" (click)="delete(note)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>-->