<div *ngIf="modal && visible" class="dim"></div>

    <div [ngClass]="visible?'showDialog':'hideDialog'">

        <header *ngIf="title != ''">
            <h4 class="title">{{title}}</h4>
            <div *ngIf="closable" class="exit-button" (click)="onClosedButtonClicked()">
                <img src="assets/Close.png"/>
            </div>
        </header>
        <ng-content></ng-content>
        <footer *ngIf = "dialogType >0">
            <div [ngSwitch]="dialogType">              
                <div *ngSwitchDefault>
                    <!--<br/>-->
                </div>
                <div *ngSwitchCase="1">
                    <button>{{'OK'}}</button>
                    <button (click)="onClosedButtonClicked()">Cancel</button>
                </div>
                <div *ngSwitchCase="2">
                    <button type="button" class="btn btn-primary mb-2" (click)="submit()">{{caption}}</button>
                    &nbsp;
                    <button type="button" class="btn btn-primary mb-2" (click)="onClosedButtonClicked()">Cancel</button>
                    <label>{{status}}</label>
                </div>
            </div>
        </footer>
    </div>