<div [ngClass]="visible?'showMenubar':'hideMenubar'" class="menubar">
    <nav class="menu" style="height: max-content;">
      <ul>
        <li><a class="mitem" routerLink="/home">Home</a></li>
        <li><a class="mitem" routerLink="/live">Live</a></li>
        <li><a class="mitem" routerLink="/video">Videos</a></li>
        <li><a class="mitem" routerLink="/message">Messages</a></li>
        <li><a class="mitem" routerLink="/login">Logout</a></li>
      </ul>
    </nav>
</div>