.menubar{
    position:absolute;
    width:100%;
    height:40px;
    top:60px !important;
    background-color:darkgrey;
    left:0px;
}
.menu ul 
{
  list-style-type: none;  
  height:max-content;
}
.menu 
{
  height:max-content;
}

.menu ul li
{
  float:left;
  width: 10%;
  border-right-color: #333;
  border-right-style: solid;
  border-right-width: 1px;
  width:12em;
  text-align: center;

}

.menu ul li a 
{
  text-decoration:none;
  color: #FFF;
  font-size:15px;
}

.showMenubar
{
  display:block;
}
.hideMenubar
{
  display:none;
}