<app-menubar [visible]="displayMenubar"></app-menubar><br/>
<div id="video-div">
<h4>Videos</h4>
<app-notes-listing [notes]="notes" (editClicked)="editNote($event)" (newClicked)="newNote()" (recordDeleted)="deleteNote($event)"></app-notes-listing>

    <dlg #dialogcomponent
            [title] ="dialogTitle"
            [visible]="statusVisible"
            [dialogType] = "2"
            (onClosed)="OnEditCancel()"
            (onSubmit)="OnEditSubmit()"
            [closable]= "true"
            [modal] = "true"
            >
            <br/>
            <app-add-update-notes (noteCreated)="createUpdateNote($event)" [note]="currentNote"></app-add-update-notes>
            <br/>
    </dlg>
    <dlg #dialogcomponent
         [title] ="'Igreja Da Cidade'"
         [visible]="infoDialogVisible"
         [dialogType] = "0"
         [closable]= "false"
         [modal] = "true"
         >
         <label class="error">{{Error}}</label>
         <br/>
         <br/>
    </dlg>
</div>