<app-menubar [visible]="displayMenubar"></app-menubar>
<div id="loginDiv" style="position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);">
    <table border="0" cellspacing="8" cellpadding="8" style="padding-top:30px;">
        <tr>
            <td align="center">
                <input style="width:250px" type="text" [(ngModel)]="username" (keyup.enter)="enteredUsername()" placeholder="Username" class="form-control"/>
            </td>
        </tr>
        <tr>
            <td>
                <input style="width:250px" id="pwd" type="password" [(ngModel)]="password" (keyup.enter)="login()" placeholder="Password" class="form-control"/>
            </td>
        </tr>
        <tr>
            <td align="center">
                <button type="button" class="btn btn-primary" (click)="login()">Login</button>
            </td>
        </tr>
        <tr>
            <td align="center">
                <label class="error">{{Error}}</label>
            </td>
        </tr>
    </table>
</div>
