<div style="padding:10px;">
    <form>
      <div class="form-group">
        <label for="live-title-input">Title</label>
        <input name="title" type="text" id="live-title" [(ngModel)]="live.title" class="form-control" />
      </div>
      <div class="form-group">
        <label for="live-desc-input">Code</label>
        <textarea name="content" type="text" id="live-desc-input" [(ngModel)]="live.content" class="form-control" ></textarea>
      </div>
    </form>
  </div>

