<div style="padding:10px;">
    <!--<h2 *ngIf="!note || note.id === undefined">Add note</h2>
    <h2 *ngIf="note && note.id !== undefined">Update note</h2>-->
    <form>
      <div class="form-group">
        <label for="title-input">Title</label>
        <input name="title" type="text" id="title" [(ngModel)]="note.title" class="form-control" />
      </div>
      <div class="form-group">
        <label for="desc-input">Code</label>
        <textarea name="content" type="text" id="desc-input" [(ngModel)]="note.content" class="form-control" ></textarea>
      </div>
      <div class="form-group">
        <br/>
        <label for="live-input">&nbsp; Live service </label>
        <input name="live" type="checkbox" id="live-cb" [(ngModel)]="note.live" style="float:left;width:20px;" />
      </div>
    </form>
  </div>
