<app-menubar [visible]="displayMenubar"></app-menubar>
<br/>
<div id="message-div">
    <h4>Messages</h4>

<br/>
<p-table [value]="msgs" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
paginator="true" resetPageOnSort="false" [autoLayout]="true">
<ng-template pTemplate="header">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Message</th>
      <th scope="col">Date</th>
      <th scope="col">Actions</th>
    </tr>
    </ng-template>
    <ng-template pTemplate="body" let-msg let-rowIndex="rowIndex"> 
            <tr>
              <td>{{ rowIndex+1 }}</td>
              <td>{{ msg.name }}</td>
              <td>{{ msg.email }}</td>
              <td>{{ msg.msg }}</td>
              <td>{{ msg.date }}</td>
              <td>
                <a data-target="#" class="m-2" (click)="deleteMsg(msg)">
                  <img src="assets/Garbage-Open.png" alt="Delete"/>
                </a>
              </td>
            </tr>
          </ng-template>
    </p-table>

    <dlg #dialogcomponent
    [title] ="'Igreja Da Cidade'"
    [visible]="infoDialogVisible"
    [dialogType] = "0"
    [closable]= "false"
    [modal] = "true"
    >
    <label class="error">{{Error}}</label>
    <br/>
    <br/>
    </dlg>
</div>
