<app-menubar [visible]="displayMenubar"></app-menubar>
<br/>
<div id="home-div">
<h4>Home</h4>

<!--<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="users?.length == 0"><td>No data</td></tr>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>
        <a href="#" class="m-2">Edit</a>
      </td>
    </tr>
  </tbody>
</table>-->
<br/>
<p-table [value]="users" [showCurrentPageReport]="true" 
 [autoLayout]="true">
<ng-template pTemplate="header" class="table mt-5">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-rowIndex="rowIndex"> 
            <tr>
              <td>{{ rowIndex+1 }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>
                <a data-target="#" class="m-2" (click)="editUser(user)">
                  <img src="assets/Data-Edit.png" alt="Edit"/>
                </a>
              </td>
            </tr>
          </ng-template>
    </p-table>

    <dlg #dialogcomponent
         [title] ="dialogTitle"
         [visible]="statusVisible"
         [dialogType] = "2"
         (onClosed)="OnEditCancel()"
         (onSubmit)="OnEditSubmit()"
         [closable]= "true"
         [modal] = "true"
         >
         <br/>
         <app-edit-user [user]="currentUser"></app-edit-user>
         <label class="error">{{Error}}</label>
         <br/>
  </dlg>
</div>


