<app-menubar [visible]="displayMenubar"></app-menubar>
<br/>
<div id="live-div">
<h4>Live</h4>

<br/>
<p-table [value]="live" [showCurrentPageReport]="true" 
 [autoLayout]="true">
<ng-template pTemplate="header" class="table mt-5">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Actions</th>
    </tr>
    </ng-template>
    <ng-template pTemplate="body" let-live let-rowIndex="rowIndex"> 
            <tr>
              <td>{{ rowIndex+1 }}</td>
              <td>{{ live.title }}</td>
              <td>
                <a data-target="#" class="m-2" (click)="editLive(live)">
                  <img src="assets/Data-Edit.png" alt="Edit"/>
                </a>
              </td>
            </tr>
          </ng-template>
    </p-table>
    <dlg #dialogcomponent
      [title] ="dialogTitle"
      [visible]="statusVisible"
      [dialogType] = "2"
      (onClosed)="OnEditCancel()"
      (onSubmit)="OnEditSubmit()"
      [closable]= "true"
      [modal] = "true"
      >
      <br/>
      <app-edit-live [live]="currentLive"></app-edit-live>

      <br/>
  </dlg>
</div>
